body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #fff9c4, #f8bbd0);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff7070;
    color: black;
    padding: 8px;
    min-height: 60px;
}
.nav-links {
    display: flex;
    gap: 5rem;
}

main {
    display: flex;
    min-height: calc(100vh - 60px);
    overflow: hidden;
    background: linear-gradient(to right, #fff9c4, #f8bbd0);
}

.lorem {
    margin: clamp(10rem, 8vh, 6rem) 5vw;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.image {
    max-width: 100%;
    height: 100vh;
}
.lorem h1 {
    font-size: clamp(1.8rem, 4vw, 4rem);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
}

.lorem p {
    font-size: 1.2rem;
    line-height: 1.5;
}

button {
    width: 100%;
    max-width: 15rem;
    height: 3rem;
    background-color: #ff7070;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.4s ease;
}

button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: left 0.4s ease;
    z-index: -1;
}

button:hover::after {
    left: 0;
}

button:hover {
    color: #ff7070;
}

section {
    display: flex;
    align-items: center;
    margin: 10rem;
    gap: 50px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.div1, .div2, .div3 {
    width: 100%;
    min-height: 15rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.div1 {
    height: 100%;
    width: 18rem;
    background-image: url("/assests/img1.png");
    transition: background-size 0.3s ease-in-out;
}

.div1:hover {
    background-size: 110%;
}

.div2 {
    grid-column-start: 1;
    grid-row-start: 2;
    height: 100%;
    width: 18rem;
    background-image: url("/assests/img2.png");
    transition: background-size 0.3s ease-in-out;
}
.div2:hover {
    background-size: 110%;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    height: 100%;
    width: 20rem;
    background-image: url("/assests/img3.png");
    transition: background-size 0.3s ease-in-out;
}

.div3:hover {
    background-size: 110%;
}


.box {
    font-family: Arial, Helvetica, sans-serif;
    height: 14rem;
    max-width: 500px;
    width: 100%;
    padding: 1.5rem;
    background-color: #ff7070;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.6s ease;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: left 1s ease;
    z-index: -1;
}

.box:hover::after {
    left: 0;
}

.box:hover {
    color: #ff7070;
}

.box h1 {
    font-size: clamp(1.8rem, 4vw, 3rem);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
}

.box p {
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav{
        position: relative;
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: #ff7070;
        padding: 20px;
        z-index: 10;
    }

    .nav-links.active {
        display: flex;
    }

    main {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .lorem {
        margin: 5vh 5vw;
        justify-content: center;
        align-items: center;
    }
    .image {
        max-width: 100%;
    height: auto;
    }

    section {
        flex-direction: column;
        margin: 2rem;
        gap: 20px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .div1, .div2, .div3 {
        width: 100%;
        height: 15rem;
    }
    .box{
        height: auto;
    }
}